{% extends "apps/base_include/base..html" %}
{% block body %}
        <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Basic bar chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-7106f20c-f055-4653-ab49-9867db7fd49f" type="button" role="tab" aria-controls="dom-7106f20c-f055-4653-ab49-9867db7fd49f" aria-selected="true" id="tab-dom-7106f20c-f055-4653-ab49-9867db7fd49f">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-a62da991-7136-4af2-b1de-14b3ada11547" type="button" role="tab" aria-controls="dom-a62da991-7136-4af2-b1de-14b3ada11547" aria-selected="false" id="tab-dom-a62da991-7136-4af2-b1de-14b3ada11547">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
        <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-7106f20c-f055-4653-ab49-9867db7fd49f" id="dom-7106f20c-f055-4653-ab49-9867db7fd49f">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-bar-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-basic-bar-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-a62da991-7136-4af2-b1de-14b3ada11547" id="dom-a62da991-7136-4af2-b1de-14b3ada11547">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-basic-bar-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
        <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Horizontal bar chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-df611913-cfa1-48c9-bdac-54b3d601afb1" type="button" role="tab" aria-controls="dom-df611913-cfa1-48c9-bdac-54b3d601afb1" aria-selected="true" id="tab-dom-df611913-cfa1-48c9-bdac-54b3d601afb1">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-ca3a94d2-9c6f-48b4-9361-3adebd518a95" type="button" role="tab" aria-controls="dom-ca3a94d2-9c6f-48b4-9361-3adebd518a95" aria-selected="false" id="tab-dom-ca3a94d2-9c6f-48b4-9361-3adebd518a95">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-df611913-cfa1-48c9-bdac-54b3d601afb1" id="dom-df611913-cfa1-48c9-bdac-54b3d601afb1">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/horizontal-bar-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-horizontal-bar-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ca3a94d2-9c6f-48b4-9361-3adebd518a95" id="dom-ca3a94d2-9c6f-48b4-9361-3adebd518a95">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/horizontal-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-horizontal-bar-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Bar chart with negative value</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-a4301911-1ba8-477b-a17b-8c8a74df820c" type="button" role="tab" aria-controls="dom-a4301911-1ba8-477b-a17b-8c8a74df820c" aria-selected="true" id="tab-dom-a4301911-1ba8-477b-a17b-8c8a74df820c">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f834e6c7-933f-4936-8c40-82ae3e539236" type="button" role="tab" aria-controls="dom-f834e6c7-933f-4936-8c40-82ae3e539236" aria-selected="false" id="tab-dom-f834e6c7-933f-4936-8c40-82ae3e539236">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-a4301911-1ba8-477b-a17b-8c8a74df820c" id="dom-a4301911-1ba8-477b-a17b-8c8a74df820c">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-negative-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-chart-negative-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f834e6c7-933f-4936-8c40-82ae3e539236" id="dom-f834e6c7-933f-4936-8c40-82ae3e539236">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-negative-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-chart-negative-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Series bar chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-0ca5e5e1-5a4f-4cb2-adac-3b881e2bcf0d" type="button" role="tab" aria-controls="dom-0ca5e5e1-5a4f-4cb2-adac-3b881e2bcf0d" aria-selected="true" id="tab-dom-0ca5e5e1-5a4f-4cb2-adac-3b881e2bcf0d">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-424e389f-e93e-4373-8893-0d9f3e53f080" type="button" role="tab" aria-controls="dom-424e389f-e93e-4373-8893-0d9f3e53f080" aria-selected="false" id="tab-dom-424e389f-e93e-4373-8893-0d9f3e53f080">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-0ca5e5e1-5a4f-4cb2-adac-3b881e2bcf0d" id="dom-0ca5e5e1-5a4f-4cb2-adac-3b881e2bcf0d">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-series-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-chart-series-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-424e389f-e93e-4373-8893-0d9f3e53f080" id="dom-424e389f-e93e-4373-8893-0d9f3e53f080">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-series-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-chart-series-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100" dir="ltr">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Stacked chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-023100c3-8173-42c4-8907-77248586c872" type="button" role="tab" aria-controls="dom-023100c3-8173-42c4-8907-77248586c872" aria-selected="true" id="tab-dom-023100c3-8173-42c4-8907-77248586c872">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b97b4c42-b788-4769-93c4-0df11d65f183" type="button" role="tab" aria-controls="dom-b97b4c42-b788-4769-93c4-0df11d65f183" aria-selected="false" id="tab-dom-b97b4c42-b788-4769-93c4-0df11d65f183">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-023100c3-8173-42c4-8907-77248586c872" id="dom-023100c3-8173-42c4-8907-77248586c872">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-stacked-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-stacked-chart-example" style="min-height: 350px;" data-echart-responsive="true"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b97b4c42-b788-4769-93c4-0df11d65f183" id="dom-b97b4c42-b788-4769-93c4-0df11d65f183">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-stacked-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-stacked-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Stacked horizontal bar chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-2aadd55e-3820-4cef-bc06-56c6bb3eaa81" type="button" role="tab" aria-controls="dom-2aadd55e-3820-4cef-bc06-56c6bb3eaa81" aria-selected="true" id="tab-dom-2aadd55e-3820-4cef-bc06-56c6bb3eaa81">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-04dabbf5-dea1-4117-bfb5-304766474a95" type="button" role="tab" aria-controls="dom-04dabbf5-dea1-4117-bfb5-304766474a95" aria-selected="false" id="tab-dom-04dabbf5-dea1-4117-bfb5-304766474a95">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-2aadd55e-3820-4cef-bc06-56c6bb3eaa81" id="dom-2aadd55e-3820-4cef-bc06-56c6bb3eaa81">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-horizontal-bar-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-horizontal-stacked-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-04dabbf5-dea1-4117-bfb5-304766474a95" id="dom-04dabbf5-dea1-4117-bfb5-304766474a95">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-horizontal-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-horizontal-stacked-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Bar race chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-acbdea5d-eb8b-43c4-972e-6a31954ba0f7" type="button" role="tab" aria-controls="dom-acbdea5d-eb8b-43c4-972e-6a31954ba0f7" aria-selected="true" id="tab-dom-acbdea5d-eb8b-43c4-972e-6a31954ba0f7">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b4c770a1-0ab7-4e04-a797-c9ce78453c12" type="button" role="tab" aria-controls="dom-b4c770a1-0ab7-4e04-a797-c9ce78453c12" aria-selected="false" id="tab-dom-b4c770a1-0ab7-4e04-a797-c9ce78453c12">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-acbdea5d-eb8b-43c4-972e-6a31954ba0f7" id="dom-acbdea5d-eb8b-43c4-972e-6a31954ba0f7">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-race-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-race-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b4c770a1-0ab7-4e04-a797-c9ce78453c12" id="dom-b4c770a1-0ab7-4e04-a797-c9ce78453c12">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-race-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-race-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Gradient bar chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-bd7c2921-b2b1-4916-af94-a4a3a4c97618" type="button" role="tab" aria-controls="dom-bd7c2921-b2b1-4916-af94-a4a3a4c97618" aria-selected="true" id="tab-dom-bd7c2921-b2b1-4916-af94-a4a3a4c97618">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f495830a-bd6c-4b2b-8241-4567630fa3af" type="button" role="tab" aria-controls="dom-f495830a-bd6c-4b2b-8241-4567630fa3af" aria-selected="false" id="tab-dom-f495830a-bd6c-4b2b-8241-4567630fa3af">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-bd7c2921-b2b1-4916-af94-a4a3a4c97618" id="dom-bd7c2921-b2b1-4916-af94-a4a3a4c97618">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/gradient-bar-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-gradient-bar-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f495830a-bd6c-4b2b-8241-4567630fa3af" id="dom-f495830a-bd6c-4b2b-8241-4567630fa3af">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/gradient-bar-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-gradient-bar-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Mixed chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-dd7b1cd2-ec89-4ec9-bf46-74e0f759f03a" type="button" role="tab" aria-controls="dom-dd7b1cd2-ec89-4ec9-bf46-74e0f759f03a" aria-selected="true" id="tab-dom-dd7b1cd2-ec89-4ec9-bf46-74e0f759f03a">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f9318d96-c8af-48ee-a44b-94307a3c4df9" type="button" role="tab" aria-controls="dom-f9318d96-c8af-48ee-a44b-94307a3c4df9" aria-selected="false" id="tab-dom-f9318d96-c8af-48ee-a44b-94307a3c4df9">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-dd7b1cd2-ec89-4ec9-bf46-74e0f759f03a" id="dom-dd7b1cd2-ec89-4ec9-bf46-74e0f759f03a">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-line-mixed-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-line-chart-example" style="min-height: 350px;" data-echart-responsive="true"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f9318d96-c8af-48ee-a44b-94307a3c4df9" id="dom-f9318d96-c8af-48ee-a44b-94307a3c4df9">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-line-mixed-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-line-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Water fall chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-42682962-6362-404c-bcc5-de6d313f3111" type="button" role="tab" aria-controls="dom-42682962-6362-404c-bcc5-de6d313f3111" aria-selected="true" id="tab-dom-42682962-6362-404c-bcc5-de6d313f3111">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-551e9390-e8bd-4290-b3a2-066fe1abaaff" type="button" role="tab" aria-controls="dom-551e9390-e8bd-4290-b3a2-066fe1abaaff" aria-selected="false" id="tab-dom-551e9390-e8bd-4290-b3a2-066fe1abaaff">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-42682962-6362-404c-bcc5-de6d313f3111" id="dom-42682962-6362-404c-bcc5-de6d313f3111">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-waterfall-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-nightfall-chart-example" style="min-height: 350px;" data-echart-responsive="true"> </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-551e9390-e8bd-4290-b3a2-066fe1abaaff" id="dom-551e9390-e8bd-4290-b3a2-066fe1abaaff">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-waterfall-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-nightfall-chart-example&quot; style=&quot;min-height: 350px;&quot; data-echart-responsive=&quot;true&quot;&gt; &lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Bar timeline Chart</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-97d7905a-6557-4f13-86ec-5e78996d73ee" type="button" role="tab" aria-controls="dom-97d7905a-6557-4f13-86ec-5e78996d73ee" aria-selected="true" id="tab-dom-97d7905a-6557-4f13-86ec-5e78996d73ee">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-62ea5b63-938e-46c5-b953-29c9cba40346" type="button" role="tab" aria-controls="dom-62ea5b63-938e-46c5-b953-29c9cba40346" aria-selected="false" id="tab-dom-62ea5b63-938e-46c5-b953-29c9cba40346">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-97d7905a-6557-4f13-86ec-5e78996d73ee" id="dom-97d7905a-6557-4f13-86ec-5e78996d73ee">
                  <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-timeline-chart.js-->
                  <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                  <div class="echart-bar-timeline-chart-example" style="min-height: 450px;" data-echart-responsive="true"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-62ea5b63-938e-46c5-b953-29c9cba40346" id="dom-62ea5b63-938e-46c5-b953-29c9cba40346">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/bar-timeline-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-bar-timeline-chart-example&quot; style=&quot;min-height: 450px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
        <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2021 &copy; <a href="https://themewagon.com">Themewagon</a></p>
          </div>
          <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">v3.4.0</p>
          </div>
        </div>
      </footer>
{% endblock %}