{% extends "apps/base_include/base..html" %}
{% block body %}
  <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Basic line chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-e17bb061-0202-4dcf-97c6-b7279ce6df03" type="button" role="tab" aria-controls="dom-e17bb061-0202-4dcf-97c6-b7279ce6df03" aria-selected="true" id="tab-dom-e17bb061-0202-4dcf-97c6-b7279ce6df03">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-62f2296a-f8fc-4059-a6a3-8ad1a251c3d4" type="button" role="tab" aria-controls="dom-62f2296a-f8fc-4059-a6a3-8ad1a251c3d4" aria-selected="false" id="tab-dom-62f2296a-f8fc-4059-a6a3-8ad1a251c3d4">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
          <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e17bb061-0202-4dcf-97c6-b7279ce6df03" id="dom-e17bb061-0202-4dcf-97c6-b7279ce6df03">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-line-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-62f2296a-f8fc-4059-a6a3-8ad1a251c3d4" id="dom-62f2296a-f8fc-4059-a6a3-8ad1a251c3d4">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/basic-line-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
          <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Basic area line chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-6cd2eda9-db5a-4f4b-aa3c-70abc5377755" type="button" role="tab" aria-controls="dom-6cd2eda9-db5a-4f4b-aa3c-70abc5377755" aria-selected="true" id="tab-dom-6cd2eda9-db5a-4f4b-aa3c-70abc5377755">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-69237ab7-ac47-4fb7-b0e8-9ce192ba4d47" type="button" role="tab" aria-controls="dom-69237ab7-ac47-4fb7-b0e8-9ce192ba4d47" aria-selected="false" id="tab-dom-69237ab7-ac47-4fb7-b0e8-9ce192ba4d47">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-6cd2eda9-db5a-4f4b-aa3c-70abc5377755" id="dom-6cd2eda9-db5a-4f4b-aa3c-70abc5377755">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-area-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-area-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-69237ab7-ac47-4fb7-b0e8-9ce192ba4d47" id="dom-69237ab7-ac47-4fb7-b0e8-9ce192ba4d47">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-area-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-area-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Stacked line chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-1b165b14-8f57-4998-a082-33cbb4e06312" type="button" role="tab" aria-controls="dom-1b165b14-8f57-4998-a082-33cbb4e06312" aria-selected="true" id="tab-dom-1b165b14-8f57-4998-a082-33cbb4e06312">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b533aaec-2ee9-4711-963b-c4830a3dea76" type="button" role="tab" aria-controls="dom-b533aaec-2ee9-4711-963b-c4830a3dea76" aria-selected="false" id="tab-dom-b533aaec-2ee9-4711-963b-c4830a3dea76">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-1b165b14-8f57-4998-a082-33cbb4e06312" id="dom-1b165b14-8f57-4998-a082-33cbb4e06312">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-line-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-stacked-line-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b533aaec-2ee9-4711-963b-c4830a3dea76" id="dom-b533aaec-2ee9-4711-963b-c4830a3dea76">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-line-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-stacked-line-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Stacked area chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-ce4113cd-4f6c-40a1-91df-b85a1a51dd61" type="button" role="tab" aria-controls="dom-ce4113cd-4f6c-40a1-91df-b85a1a51dd61" aria-selected="true" id="tab-dom-ce4113cd-4f6c-40a1-91df-b85a1a51dd61">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-9f60772b-1ef6-455d-932a-6381c7cf853e" type="button" role="tab" aria-controls="dom-9f60772b-1ef6-455d-932a-6381c7cf853e" aria-selected="false" id="tab-dom-9f60772b-1ef6-455d-932a-6381c7cf853e">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-ce4113cd-4f6c-40a1-91df-b85a1a51dd61" id="dom-ce4113cd-4f6c-40a1-91df-b85a1a51dd61">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-area-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-stacked-area-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-9f60772b-1ef6-455d-932a-6381c7cf853e" id="dom-9f60772b-1ef6-455d-932a-6381c7cf853e">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/stacked-area-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-stacked-area-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Line marker chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-48e35004-c58e-46ef-9915-c9df7ce41874" type="button" role="tab" aria-controls="dom-48e35004-c58e-46ef-9915-c9df7ce41874" aria-selected="true" id="tab-dom-48e35004-c58e-46ef-9915-c9df7ce41874">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-4a28e196-9c83-42f9-b4e8-b2631a324318" type="button" role="tab" aria-controls="dom-4a28e196-9c83-42f9-b4e8-b2631a324318" aria-selected="false" id="tab-dom-4a28e196-9c83-42f9-b4e8-b2631a324318">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-48e35004-c58e-46ef-9915-c9df7ce41874" id="dom-48e35004-c58e-46ef-9915-c9df7ce41874">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-marker-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-marker-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-4a28e196-9c83-42f9-b4e8-b2631a324318" id="dom-4a28e196-9c83-42f9-b4e8-b2631a324318">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-marker-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-marker-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Area pieces chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-8f25bc0e-8541-4964-b3dd-89c2c9b5d20b" type="button" role="tab" aria-controls="dom-8f25bc0e-8541-4964-b3dd-89c2c9b5d20b" aria-selected="true" id="tab-dom-8f25bc0e-8541-4964-b3dd-89c2c9b5d20b">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-6e2fb6e7-6da1-436a-9c58-e5f21307de03" type="button" role="tab" aria-controls="dom-6e2fb6e7-6da1-436a-9c58-e5f21307de03" aria-selected="false" id="tab-dom-6e2fb6e7-6da1-436a-9c58-e5f21307de03">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-8f25bc0e-8541-4964-b3dd-89c2c9b5d20b" id="dom-8f25bc0e-8541-4964-b3dd-89c2c9b5d20b">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/area-pieces-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-area-pieces-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-6e2fb6e7-6da1-436a-9c58-e5f21307de03" id="dom-6e2fb6e7-6da1-436a-9c58-e5f21307de03">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/area-pieces-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-area-pieces-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Step line chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-85b53d45-0dc1-4789-813a-a51eb113a3b3" type="button" role="tab" aria-controls="dom-85b53d45-0dc1-4789-813a-a51eb113a3b3" aria-selected="true" id="tab-dom-85b53d45-0dc1-4789-813a-a51eb113a3b3">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-ff76e612-385f-43dc-a098-7c1983374fe7" type="button" role="tab" aria-controls="dom-ff76e612-385f-43dc-a098-7c1983374fe7" aria-selected="false" id="tab-dom-ff76e612-385f-43dc-a098-7c1983374fe7">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-85b53d45-0dc1-4789-813a-a51eb113a3b3" id="dom-85b53d45-0dc1-4789-813a-a51eb113a3b3">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/step-line-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-step-line-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-ff76e612-385f-43dc-a098-7c1983374fe7" id="dom-ff76e612-385f-43dc-a098-7c1983374fe7">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/step-line-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-step-line-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Line gradient chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-a952210f-c377-4273-9265-af209c0001aa" type="button" role="tab" aria-controls="dom-a952210f-c377-4273-9265-af209c0001aa" aria-selected="true" id="tab-dom-a952210f-c377-4273-9265-af209c0001aa">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-b9a27e93-d73d-456c-a30f-678a8eb8cf4a" type="button" role="tab" aria-controls="dom-b9a27e93-d73d-456c-a30f-678a8eb8cf4a" aria-selected="false" id="tab-dom-b9a27e93-d73d-456c-a30f-678a8eb8cf4a">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-a952210f-c377-4273-9265-af209c0001aa" id="dom-a952210f-c377-4273-9265-af209c0001aa">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-gradient-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-gradient-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-b9a27e93-d73d-456c-a30f-678a8eb8cf4a" id="dom-b9a27e93-d73d-456c-a30f-678a8eb8cf4a">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-gradient-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-gradient-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Dynamic line chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-1e0b715c-a1ea-4f6a-9d82-09304a9c3d67" type="button" role="tab" aria-controls="dom-1e0b715c-a1ea-4f6a-9d82-09304a9c3d67" aria-selected="true" id="tab-dom-1e0b715c-a1ea-4f6a-9d82-09304a9c3d67">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-0af79d78-3ff6-4048-a5f9-40009a5e5d1b" type="button" role="tab" aria-controls="dom-0af79d78-3ff6-4048-a5f9-40009a5e5d1b" aria-selected="false" id="tab-dom-0af79d78-3ff6-4048-a5f9-40009a5e5d1b">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-1e0b715c-a1ea-4f6a-9d82-09304a9c3d67" id="dom-1e0b715c-a1ea-4f6a-9d82-09304a9c3d67">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/dynamic-line-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-dynamic-line-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-0af79d78-3ff6-4048-a5f9-40009a5e5d1b" id="dom-0af79d78-3ff6-4048-a5f9-40009a5e5d1b">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/dynamic-line-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-dynamic-line-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Line log chart</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-9c595122-b82e-4408-923f-2f3c59c8186a" type="button" role="tab" aria-controls="dom-9c595122-b82e-4408-923f-2f3c59c8186a" aria-selected="true" id="tab-dom-9c595122-b82e-4408-923f-2f3c59c8186a">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-902c8dc2-755a-4c16-9579-8678859881ff" type="button" role="tab" aria-controls="dom-902c8dc2-755a-4c16-9579-8678859881ff" aria-selected="false" id="tab-dom-902c8dc2-755a-4c16-9579-8678859881ff">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-9c595122-b82e-4408-923f-2f3c59c8186a" id="dom-9c595122-b82e-4408-923f-2f3c59c8186a">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-log-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-log-chart-example" style="min-height: 300px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-902c8dc2-755a-4c16-9579-8678859881ff" id="dom-902c8dc2-755a-4c16-9579-8678859881ff">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-log-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-log-chart-example&quot; style=&quot;min-height: 300px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <div class="card-header">
                  <div class="row flex-between-end">
                    <div class="col-auto align-self-center">
                      <h5 class="mb-0" data-anchor="data-anchor">Share dataset</h5>
                    </div>
                    <div class="col-auto ms-auto">
                      <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                        <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-4661384b-2c94-4eff-8ba7-0f2a2e97d702" type="button" role="tab" aria-controls="dom-4661384b-2c94-4eff-8ba7-0f2a2e97d702" aria-selected="true" id="tab-dom-4661384b-2c94-4eff-8ba7-0f2a2e97d702">Preview</button>
                        <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-5aa1b36d-43f2-4495-b7a2-d3dc9b4f391f" type="button" role="tab" aria-controls="dom-5aa1b36d-43f2-4495-b7a2-d3dc9b4f391f" aria-selected="false" id="tab-dom-5aa1b36d-43f2-4495-b7a2-d3dc9b4f391f">Code</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body bg-light">
                  <div class="tab-content">
                    <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-4661384b-2c94-4eff-8ba7-0f2a2e97d702" id="dom-4661384b-2c94-4eff-8ba7-0f2a2e97d702">
                      <!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-share-dataset-chart.js-->
                      <!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js-->
                      <div class="echart-line-share-dataset-chart-example" style="min-height: 500px;" data-echart-responsive="true"></div>
                    </div>
                    <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-5aa1b36d-43f2-4495-b7a2-d3dc9b4f391f" id="dom-5aa1b36d-43f2-4495-b7a2-d3dc9b4f391f">
                      <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">
&lt;!-- Find the JS file for the following chart at: src/js/charts/echarts/examples/line-share-dataset-chart.js--&gt;

&lt;!-- If you are not using gulp based workflow, you can find the transpiled code at: public/assets/js/echarts-example.js--&gt;
&lt;div class=&quot;echart-line-share-dataset-chart-example&quot; style=&quot;min-height: 500px;&quot; data-echart-responsive=&quot;true&quot;&gt;&lt;/div&gt;</code></pre>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <footer class="footer">
            <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2021 &copy; <a href="https://themewagon.com">Themewagon</a></p>
              </div>
              <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v3.4.0</p>
              </div>
            </div>
          </footer>
{% endblock %}
