{% extends "apps/base_include/base..html" %}
{% block body %}
          <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Leaflet Map</h3>
                  <p class="mb-0">JavaScript library for mobile-friendly interactive maps</p><a class="btn btn-link btn-sm ps-0 mt-2" href="https://leafletjs.com/" target="_blank">Documentation for leaflet<span class="fas fa-chevron-right ms-1 fs--2"></span></a>
                </div>
              </div>
            </div>
          <div class="card mb-3">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Example</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-2ec808d1-55b0-4115-b4ed-6061829c264e" type="button" role="tab" aria-controls="dom-2ec808d1-55b0-4115-b4ed-6061829c264e" aria-selected="true" id="tab-dom-2ec808d1-55b0-4115-b4ed-6061829c264e">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-f6915e1e-73f9-4f1e-b077-842a1319620a" type="button" role="tab" aria-controls="dom-f6915e1e-73f9-4f1e-b077-842a1319620a" aria-selected="false" id="tab-dom-f6915e1e-73f9-4f1e-b077-842a1319620a">Code</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-2ec808d1-55b0-4115-b4ed-6061829c264e" id="dom-2ec808d1-55b0-4115-b4ed-6061829c264e">
                  <div id="map" style="height:300px"></div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-f6915e1e-73f9-4f1e-b077-842a1319620a" id="dom-f6915e1e-73f9-4f1e-b077-842a1319620a">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div id=&quot;map&quot; style=&quot;height:300px&quot;&gt;&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">Javascript</h5>
            </div>
            <div class="card-body bg-light">
              <pre class="scrollbar mt-2"><code class="language-html">&lt;script src=&quot;../../vendors/leaflet/leaflet.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../vendors/leaflet.markercluster/leaflet.markercluster.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;../../vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js&quot;&gt;&lt;/script&gt;</code></pre>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h5 class="mb-0">stylesheet</h5>
            </div>
            <div class="card-body bg-light">
              <pre class="scrollbar mt-2"><code class="language-html">&lt;link href=&quot;../../vendors/leaflet/leaflet.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;../../vendors/leaflet.markercluster/MarkerCluster.css&quot; rel=&quot;stylesheet&quot; /&gt;
&lt;link href=&quot;../../vendors/leaflet.markercluster/MarkerCluster.Default.css&quot; rel=&quot;stylesheet&quot; /&gt;</code></pre>
            </div>
          </div>
{% endblock %}