{% extends "apps/base_include/base..html" %}
{% block body %}
  <div class="card">
            <div class="card-header bg-light">
              <h5 class="mb-0">Activity log</h5>
            </div>
            <div class="card-body fs--1 p-0">
              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🔍</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Anthony Hopkins</strong> Followed <strong>Massachusetts Institute of Technology</strong></p>
                  <span class="notification-time">Just Now</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">📌</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Anthony Hopkins</strong> Save a <strong>Life Event</strong></p>
                  <span class="notification-time">Yesterday</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🏷️</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Rowan Atkinson</strong> Tagged <strong>Anthony Hopkins</strong> in a live video</p>
                  <span class="notification-time">December 1, 8:00 PM</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">💬</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Robert Downey</strong> mention <strong>Anthony Hopkins</strong> in a comment</p>
                  <span class="notification-time">November 27, 12:00 AM</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">😂</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Anthony Hopkins</strong> reacted to a comment of <strong>Anna Karinina</strong></p>
                  <span class="notification-time">November 20, 8:00 Am</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🎁</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Jennifer Kent</strong> Congratulated <strong>Anthony Hopkins</strong></p>
                  <span class="notification-time">November 13, 5:00 Am</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">🏷️</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>California Institute of Technology</strong> tagged <strong>Anthony Hopkins</strong> in a post.</p>
                  <span class="notification-time">November 8, 5:00 PM</span>

                </div>
              </a>

              <a class="border-bottom-0 notification rounded-0 border-x-0 border border-300" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">📋️</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Anthony Hopkins</strong> joined <strong>Victory day cultural Program</strong> with <strong>Tony Stark</strong></p>
                  <span class="notification-time">November 01, 11:30 AM</span>

                </div>
              </a>

              <a class="notification border-x-0 border-bottom-0 border-300 rounded-top-0" href="#!">
                <div class="notification-avatar">
                  <div class="avatar avatar-xl me-3">
                    <div class="avatar-emoji rounded-circle "><span role="img" aria-label="Emoji">📅️</span></div>
                  </div>
                </div>
                <div class="notification-body">
                  <p class="mb-1"><strong>Massachusetts Institute of Technology</strong> invited <strong>Anthony Hopkin</strong> to an event</p>
                  <span class="notification-time">October 28, 12:00 PM</span>

                </div>
              </a>

            </div>
          </div>
{% endblock %}