{% extends "apps/base_include/base..html" %}
{% block body %}
    <div class="card">
    <div class="card-header bg-light">
      <div class="row align-items-center">
        <div class="col">
          <h5 class="mb-0" id="followers">Followers <span class="d-none d-sm-inline-block">(233)</span></h5>
        </div>
        <div class="col">
          <form>
            <div class="row g-0">
              <div class="col">
                <input class="form-control form-control-sm" type="text" placeholder="Search..." />
              </div>
              <div class="col d-md-block d-none">
                <select class="form-select form-select-sm ms-2" aria-label=".form-select-sm example">
                  <option selected="selected">All followers</option>
                  <option>Concert Choir</option>
                  <option>Clubchem</option>
                  <option>Chamber Music Society</option>
                  <option>Alpha Chi Omega</option>
                  <option>Alpine Ski Club</option>
                  <option>Career Club</option>
                  <option>Musical Club</option>
                  <option>Asymptones</option>
                  <option>Clubchem</option>
                  <option>Brain Trust</option>
                  <option>Other</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body bg-light px-1 py-0">
      <div class="row g-0 text-center fs--1">
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/1.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Emilia Clarke</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Technext limited</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/2.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Kit Harington</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Harvard Korea Society</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/3.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Sophie Turner</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Graduate Student Council</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/4.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Peter Dinklage</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Art Club, MIT</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/5.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Nikolaj Coster</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Archery Club, MIT</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/6.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Isaac Hempstead</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Asymptones</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/7.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Alfie Allen</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Brain Trust</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/8.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Iain Glen</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">GSAS Action Coalition</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/9.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Liam Cunningham</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Caving Club, MIT</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/10.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">John Bradley</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Chess Club</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/11.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Rory McCann</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Chamber Music Society</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/12.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Joe Dempsie</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Clubchem</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/13.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Maisie Williams</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Brain Trust</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/14.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Lena Headey</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Clubchem</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/15.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Gwendoline Christie</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Technext limited</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/16.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Nathalie Emmanuel</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Asymptones</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/17.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Natalie Dormer</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Musical Club</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/18.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Carice Houten</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Concert Choir</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/19.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Hannah Murray</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Career Club</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/20.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Rose Leslie</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Musical Club</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/21.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Rory McCann</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Alpine Ski Club</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/22.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Diana Rigg</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Clubchem</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/23.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Michelle Fairley</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Alpha Chi Omega</a></p>
          </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 col-xxl-2 mb-1">
          <div class="bg-white dark__bg-1100 p-3 h-100"><a href="../../pages/user/profile.html"><img class="img-thumbnail img-fluid rounded-circle mb-3 shadow-sm" src="../../assets/img/team/24.jpg" alt="" width="100" /></a>
            <h6 class="mb-1"><a href="../../pages/user/profile.html">Gemma Whelan</a>
            </h6>
            <p class="fs--2 mb-1"><a class="text-700" href="#!">Chamber Music Society</a></p>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endblock %}