{% extends "apps/base_include/base..html" %}
{% block body %}
    <div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Design File</h3>
                  <p class="mb-1 mt-2">We have designed Falcon initially directly with code. After receiving multiple requests from our customers for design files, we recreated the design in Figma.</p>
                </div>
              </div>
            </div>
    <div class="card">
            <div class="card-body">
              <p>This is an early demo of Figma files. All the design is not yet recreated with Figma. But hopefully, we will port all the layouts in the next couple of weeks.</p>
              <h5 data-anchor="data-anchor">To play with the design:</h5>
              <ul>
                <li> <a href="https://www.figma.com/" target="_blank">Download Figma</a></li>
                <li>Open the Figma link from the <code>README.md</code></li>
                <li>The file is "read-only", so you'll have to duplicate it! Go to your grid of documents in Figma, click the ellipsis icon on <b class="text-primary text-600">Falcon (Distributed)</b>, and then "Duplicate" to create an editable version.</li>
              </ul>
            </div>
          </div>
{% endblock %}