{% extends "apps/base_include/base..html" %}
{% block body %}
<div class="card-body position-relative">
              <div class="row">
                <div class="col-lg-8">
                  <h3>Checks</h3>
                  <p class="mb-0">Create consistent cross-browser and cross-device checkboxes and radios with our completely rewritten checks component.</p><a class="btn btn-link btn-sm ps-0 mt-2" href="https://getbootstrap.com/docs/5.1/forms/checks" target="_blank">Form's check on Bootstrap<span class="fas fa-chevron-right ms-1 fs--2"></span></a>
                </div>
              </div>
            </div>
 <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Checks</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-472e971f-b693-4955-8be8-657001947b7f" type="button" role="tab" aria-controls="dom-472e971f-b693-4955-8be8-657001947b7f" aria-selected="true" id="tab-dom-472e971f-b693-4955-8be8-657001947b7f">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-e777f4b3-e908-4aab-97c9-1262528b3dbf" type="button" role="tab" aria-controls="dom-e777f4b3-e908-4aab-97c9-1262528b3dbf" aria-selected="false" id="tab-dom-e777f4b3-e908-4aab-97c9-1262528b3dbf">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-472e971f-b693-4955-8be8-657001947b7f" id="dom-472e971f-b693-4955-8be8-657001947b7f">
                  <div class="form-check">
                    <input class="form-check-input" id="flexCheckDefault" type="checkbox" value="" />
                    <label class="form-check-label" for="flexCheckDefault">Default checkbox</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" id="flexCheckChecked" type="checkbox" value="" checked="" />
                    <label class="form-check-label" for="flexCheckChecked">Checked checkbox</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-e777f4b3-e908-4aab-97c9-1262528b3dbf" id="dom-e777f4b3-e908-4aab-97c9-1262528b3dbf">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexCheckDefault&quot; type=&quot;checkbox&quot; value=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckDefault&quot;&gt;Default checkbox&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexCheckChecked&quot; type=&quot;checkbox&quot; value=&quot;&quot; checked=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckChecked&quot;&gt;Checked checkbox&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
<div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Indeterminate</h5>
                  <p class="mb-0 mt-2 mb-0">Checkboxes can utilize the <code> :indeterminate </code> pseudo class when manually set via JavaScript (there is no available HTML attribute for specifying it.</p>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1 mt-2" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-f57154b1-a574-4270-a4aa-86ff9da0de7b" type="button" role="tab" aria-controls="dom-f57154b1-a574-4270-a4aa-86ff9da0de7b" aria-selected="true" id="tab-dom-f57154b1-a574-4270-a4aa-86ff9da0de7b">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-23b70fbb-9422-4857-865c-ad7ea6daa424" type="button" role="tab" aria-controls="dom-23b70fbb-9422-4857-865c-ad7ea6daa424" aria-selected="false" id="tab-dom-23b70fbb-9422-4857-865c-ad7ea6daa424">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-f57154b1-a574-4270-a4aa-86ff9da0de7b" id="dom-f57154b1-a574-4270-a4aa-86ff9da0de7b">
                  <div class="form-check">
                    <input class="form-check-input" id="flexCheckIndeterminate" type="checkbox" value="" />
                    <label class="form-check-label" for="flexCheckIndeterminate">Indeterminate checkbox</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-23b70fbb-9422-4857-865c-ad7ea6daa424" id="dom-23b70fbb-9422-4857-865c-ad7ea6daa424">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexCheckIndeterminate&quot; type=&quot;checkbox&quot; value=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexCheckIndeterminate&quot;&gt;Indeterminate checkbox&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
<div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Radios</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-e0d869aa-3441-496b-9fc3-0333faf70522" type="button" role="tab" aria-controls="dom-e0d869aa-3441-496b-9fc3-0333faf70522" aria-selected="true" id="tab-dom-e0d869aa-3441-496b-9fc3-0333faf70522">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-65cbaf7f-67c3-455d-be5b-2c511902df04" type="button" role="tab" aria-controls="dom-65cbaf7f-67c3-455d-be5b-2c511902df04" aria-selected="false" id="tab-dom-65cbaf7f-67c3-455d-be5b-2c511902df04">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-e0d869aa-3441-496b-9fc3-0333faf70522" id="dom-e0d869aa-3441-496b-9fc3-0333faf70522">
                  <div class="form-check">
                    <input class="form-check-input" id="flexRadioDefault1" type="radio" name="flexRadioDefault" />
                    <label class="form-check-label" for="flexRadioDefault1">Default radio</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" id="flexRadioDefault2" type="radio" name="flexRadioDefault" checked="" />
                    <label class="form-check-label" for="flexRadioDefault2">Default checked radio</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-65cbaf7f-67c3-455d-be5b-2c511902df04" id="dom-65cbaf7f-67c3-455d-be5b-2c511902df04">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexRadioDefault1&quot; type=&quot;radio&quot; name=&quot;flexRadioDefault&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexRadioDefault1&quot;&gt;Default radio&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexRadioDefault2&quot; type=&quot;radio&quot; name=&quot;flexRadioDefault&quot; checked=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexRadioDefault2&quot;&gt;Default checked radio&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
<div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Switches</h5>
                  <p class="mb-0 mt-2 mb-0">A switch has the markup of a custom checkbox but uses the <code>.form-switch</code> class to render a toggle switch. Switches also support the <code>disabled</code> attribute.</p>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1 mt-2" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-68acf7e4-5063-44b1-a3aa-747074f44735" type="button" role="tab" aria-controls="dom-68acf7e4-5063-44b1-a3aa-747074f44735" aria-selected="true" id="tab-dom-68acf7e4-5063-44b1-a3aa-747074f44735">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-9a0c1e6c-3d8f-4786-bdee-facbe7d5aa2b" type="button" role="tab" aria-controls="dom-9a0c1e6c-3d8f-4786-bdee-facbe7d5aa2b" aria-selected="false" id="tab-dom-9a0c1e6c-3d8f-4786-bdee-facbe7d5aa2b">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-68acf7e4-5063-44b1-a3aa-747074f44735" id="dom-68acf7e4-5063-44b1-a3aa-747074f44735">
                  <div class="form-check form-switch">
                    <input class="form-check-input" id="flexSwitchCheckDefault" type="checkbox" />
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" id="flexSwitchCheckChecked" type="checkbox" checked="" />
                    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" id="flexSwitchCheckDisabled" type="checkbox" disabled="" />
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
                  </div>
                  <div class="form-check form-switch">
                    <input class="form-check-input" id="flexSwitchCheckCheckedDisabled" type="checkbox" checked="" disabled="" />
                    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-9a0c1e6c-3d8f-4786-bdee-facbe7d5aa2b" id="dom-9a0c1e6c-3d8f-4786-bdee-facbe7d5aa2b">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check form-switch&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexSwitchCheckDefault&quot; type=&quot;checkbox&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckDefault&quot;&gt;Default switch checkbox input&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-switch&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexSwitchCheckChecked&quot; type=&quot;checkbox&quot; checked=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckChecked&quot;&gt;Checked switch checkbox input&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-switch&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexSwitchCheckDisabled&quot; type=&quot;checkbox&quot; disabled=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckDisabled&quot;&gt;Disabled switch checkbox input&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-switch&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;flexSwitchCheckCheckedDisabled&quot; type=&quot;checkbox&quot; checked=&quot;&quot; disabled=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;flexSwitchCheckCheckedDisabled&quot;&gt;Disabled checked switch checkbox input&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
<div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Check Inline</h5>
                  <p class="mb-0 mt-2 mb-0">Group checkboxes or radios on the same horizontal row by adding <code>.form-check-inline</code> to any <code>.form-check</code>.</p>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1 mt-2" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-cac59f6b-d66e-40cd-9bc0-b454115ceae5" type="button" role="tab" aria-controls="dom-cac59f6b-d66e-40cd-9bc0-b454115ceae5" aria-selected="true" id="tab-dom-cac59f6b-d66e-40cd-9bc0-b454115ceae5">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-2c6d5088-e2cd-42c7-afc0-b2c9d1c1f3a3" type="button" role="tab" aria-controls="dom-2c6d5088-e2cd-42c7-afc0-b2c9d1c1f3a3" aria-selected="false" id="tab-dom-2c6d5088-e2cd-42c7-afc0-b2c9d1c1f3a3">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-cac59f6b-d66e-40cd-9bc0-b454115ceae5" id="dom-cac59f6b-d66e-40cd-9bc0-b454115ceae5">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineCheckbox1" type="checkbox" value="option1" />
                    <label class="form-check-label" for="inlineCheckbox1">Item 1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineCheckbox2" type="checkbox" value="option2" />
                    <label class="form-check-label" for="inlineCheckbox2">Item 2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineCheckbox3" type="checkbox" value="option3" disabled="" />
                    <label class="form-check-label" for="inlineCheckbox3">Item 3 (disabled)</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-2c6d5088-e2cd-42c7-afc0-b2c9d1c1f3a3" id="dom-2c6d5088-e2cd-42c7-afc0-b2c9d1c1f3a3">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineCheckbox1&quot; type=&quot;checkbox&quot; value=&quot;option1&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox1&quot;&gt;Item 1&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineCheckbox2&quot; type=&quot;checkbox&quot; value=&quot;option2&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox2&quot;&gt;Item 2&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineCheckbox3&quot; type=&quot;checkbox&quot; value=&quot;option3&quot; disabled=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineCheckbox3&quot;&gt;Item 3 (disabled)&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
 <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">Radio Inline</h5>
                </div>
                <div class="col-auto ms-auto">
                  <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                    <button class="btn btn-sm active" data-bs-toggle="pill" data-bs-target="#dom-0e079a19-fb03-4eb6-ab9b-fedfd8b730f4" type="button" role="tab" aria-controls="dom-0e079a19-fb03-4eb6-ab9b-fedfd8b730f4" aria-selected="true" id="tab-dom-0e079a19-fb03-4eb6-ab9b-fedfd8b730f4">Preview</button>
                    <button class="btn btn-sm" data-bs-toggle="pill" data-bs-target="#dom-8849631d-04e2-4856-a7da-08782231725f" type="button" role="tab" aria-controls="dom-8849631d-04e2-4856-a7da-08782231725f" aria-selected="false" id="tab-dom-8849631d-04e2-4856-a7da-08782231725f">Code</button>
                  </div>
                </div>
              </div>
            </div>
<div class="card-body bg-light">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-0e079a19-fb03-4eb6-ab9b-fedfd8b730f4" id="dom-0e079a19-fb03-4eb6-ab9b-fedfd8b730f4">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio1" type="radio" name="inlineRadioOptions" value="option1" />
                    <label class="form-check-label" for="inlineRadio1">Item 1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio2" type="radio" name="inlineRadioOptions" value="option2" />
                    <label class="form-check-label" for="inlineRadio2">item 2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="inlineRadio3" type="radio" name="inlineRadioOptions" value="option3" disabled="" />
                    <label class="form-check-label" for="inlineRadio3">Item 3 (disabled)</label>
                  </div>
                </div>
                <div class="tab-pane code-tab-pane" role="tabpanel" aria-labelledby="tab-dom-8849631d-04e2-4856-a7da-08782231725f" id="dom-8849631d-04e2-4856-a7da-08782231725f">
                  <pre class="scrollbar rounded-1" style="max-height:420px"><code class="language-html">&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineRadio1&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; value=&quot;option1&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio1&quot;&gt;Item 1&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineRadio2&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; value=&quot;option2&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio2&quot;&gt;item 2&lt;/label&gt;
&lt;/div&gt;
&lt;div class=&quot;form-check form-check-inline&quot;&gt;
  &lt;input class=&quot;form-check-input&quot; id=&quot;inlineRadio3&quot; type=&quot;radio&quot; name=&quot;inlineRadioOptions&quot; value=&quot;option3&quot; disabled=&quot;&quot; /&gt;
  &lt;label class=&quot;form-check-label&quot; for=&quot;inlineRadio3&quot;&gt;Item 3 (disabled)&lt;/label&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>
            </div>
{% endblock %}